In [1]:
import pandas as pd

In [6]:
df= pd.read_csv("C:\\Users\\User\\Desktop\\car predict\\clean_data_1.csv")
df.head(5)

,Kms_Driven,Fuel_Type,Transmission,New_Selling_price,New_present_price,car_age
0,27000,Petrol,Manual,33500.0,55900.0,9
1,43000,Diesel,Manual,47500.0,95400.0,10
2,6900,Petrol,Manual,72500.0,98500.0,6
3,5200,Petrol,Manual,28500.0,41500.0,12
4,42450,Diesel,Manual,46000.0,68700.0,9

In [11]:
df=pd.get_dummies(df,drop_first=True)

In [12]:
x=df.drop(['New_Selling_price'],axis=1)
x

,Kms_Driven,New_present_price,car_age,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,27000,55900.0,9,0,1,1
1,43000,95400.0,10,1,0,1
2,6900,98500.0,6,0,1,1
3,5200,41500.0,12,0,1,1
4,42450,68700.0,9,1,0,1
...,...,...,...,...,...,...
196,33988,116000.0,7,1,0,1
197,60000,59000.0,8,0,1,1
198,87934,110000.0,14,0,1,1
199,9000,125000.0,6,1,0,1
200,5464,59000.0,7,0,1,1

In [16]:
y=df['New_Selling_price']
y

0       33500.0
1       47500.0
2       72500.0
3       28500.0
4       46000.0
         ...
196     95000.0
197     40000.0
198     33500.0
199    115000.0
200     53000.0
Name: New_Selling_price, Length: 201, dtype: float64

In [20]:
#split the data into training and testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)
print("x train:",x_train)
print("x test:",x_test)
print("y train:",y_train)
print("y_test:",y_test)

x train:      Kms_Driven  New_present_price  car_age  Fuel_Type_Diesel  \
47        65000            41500.0       17                 0
94        89000           227800.0       15                 0
14        77427            72100.0       14                 0
41        46706            39800.0        9                 0
125       22517            46000.0       12                 0
..          ...                ...      ...               ...
3          5200            41500.0       12                 0
130       45000            94000.0       10                 1
134        4492            57000.0        8                 0
155       53675            53500.0       11                 0
75        36000            68000.0        8                 0

     Fuel_Type_Petrol  Transmission_Manual
47                  1                    1
94                  1                    0
14                  1                    1
41                  1                    1
125                 1                    1
..                ...                  ...
3                   1                    1
130                 0                    1
134                 1                    1
155                 1                    1
75                  1                    1

[160 rows x 6 columns]
x test:      Kms_Driven  New_present_price  car_age  Fuel_Type_Diesel  \
23        45280            34600.0        9                 0
182       63000           140000.0        9                 1
172       27600           100000.0        8                 0
21         2400            57100.0        6                 0
63        47000           359600.0        8                 1
11        51000           103800.0        8                 1
61        40588            77000.0        8                 0
32        39000            74900.0        9                 1
164       40026            70000.0        8                 0
7         33429            86100.0        8                 1
95        72000           186100.0       11                 0
173       61203            75000.0       13                 0
132       12900           147900.0        8                 0
120       38488            44300.0        6                 0
98        45000           186100.0       10                 0
138       60241            94000.0       10                 0
31        54200            48900.0       12                 0
16        41678           107900.0        8                 1
181       50456            76000.0       17                 0
85       142000           237300.0       17                 0
185       15059            85000.0        7                 0
166       35000            70000.0        9                 0
101       58000            67900.0       13                 1
129       52132            67900.0       11                 1
113       31604            67900.0       12                 0
51        40000           306100.0        8                 1
167       19434            94000.0        7                 1
88        47000            60500.0       10                 0
108        3435            81000.0        6                 0
136       11849            44300.0        7                 0
29        45000           103800.0        8                 1
183        9010           118000.0        7                 0
152       31427            68200.0        8                 0
93        40000           306100.0        8                 1
189       10980           136000.0        7                 0
139       23709            44300.0       11                 0
179       40126           136000.0        9                 0
55        70000           150400.0       14                 0
1         43000            95400.0       10                 1
5          2071            98300.0        5                 1
77       135154           123500.0       19                 0

     Fuel_Type_Petrol  Transmission_Manual
23                  1                    1
182                 0                    1
172                 1                    1
21                  1                    1
63                  0                    0
11                  0                    1
61                  1                    1
32                  0                    1
164                 1                    1
7                   0                    1
95                  1                    1
173                 1                    1
132                 1                    0
120                 1                    1
98                  1                    1
138                 1                    1
31                  1                    1
16                  0                    1
181                 1                    1
85                  1                    0
185                 1                    0
166                 1                    1
101                 0                    1
129                 0                    1
113                 1                    1
51                  0                    0
167                 0                    1
88                  1                    1
108                 1                    1
136                 1                    1
29                  0                    1
183                 1                    1
152                 1                    0
93                  0                    0
189                 1                    1
139                 1                    1
179                 1                    1
55                  1                    0
1                   0                    1
5                   0                    1
77                  1                    0
y train: 47     10500.0
94     40000.0
14     22500.0
41     25500.0
125    27000.0
        ...
3      28500.0
130    61500.0
134    55000.0
155    30000.0
75     39500.0
Name: New_Selling_price, Length: 160, dtype: float64
y_test: 23      25000.0
182     82500.0
172     75000.0
21      49000.0
63     235000.0
11      68500.0
61      45000.0
32      49500.0
164     40000.0
7       65000.0
95      58500.0
173     22500.0
132    114500.0
120     35000.0
98      70500.0
138     48000.0
31      23500.0
16      72500.0
181     21000.0
85      25000.0
185     74000.0
166     36500.0
101     32500.0
129     31000.0
113     29000.0
51     230000.0
167     83500.0
88      34500.0
108     79000.0
136     31000.0
29      74500.0
183     89900.0
152     54000.0
93     230000.0
189    101100.0
139     20000.0
179     62500.0
55      36000.0
1       47500.0
5       92500.0
77      15000.0
Name: New_Selling_price, dtype: float64

In [29]:
print(x_test.shape,":x_test")
print(x_train.shape,":x_train")
print(y_test.shape,":y_test")
print(y_train.shape,":y_train")

(41, 6) :x_test
(160, 6) :x_train
(41,) :y_test
(160,) :y_train

In [33]:
df.to_csv("test_data.csv",index=False)

In [36]:
#fitting simple linear regression to training set
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [49]:
import numpy as np
y_pred=model.predict(x_test)
(y_pred)

array([ 27263.3325016 ,  88303.7545541 ,  64712.18750256,  62663.01889999,
       209808.21492643,  80819.15290647,  51242.54696706,  67301.58447794,
        48415.39072955,  78221.57370619,  75202.51186668,  21714.07150364,
       108046.32036179,  47034.09286317,  87384.39119881,  43808.41433988,
        17128.99676707,  85194.7787644 ,   6876.20841879,  68636.13221648,
        85184.02262945,  45258.50440888,  40668.92215113,  51468.98370594,
        31600.17499534, 188962.85776015,  90107.99987931,  33251.86673184,
        72564.80277244,  49967.79462582,  82509.96531104,  82201.18601751,
        68832.99327966, 188962.85776015,  89323.11051456,  28332.72805984,
        71963.26043417,  65582.34159916,  70344.48762348, 105981.34401312,
        12882.73069955])

In [39]:
y_test

23      25000.0
182     82500.0
172     75000.0
21      49000.0
63     235000.0
11      68500.0
61      45000.0
32      49500.0
164     40000.0
7       65000.0
95      58500.0
173     22500.0
132    114500.0
120     35000.0
98      70500.0
138     48000.0
31      23500.0
16      72500.0
181     21000.0
85      25000.0
185     74000.0
166     36500.0
101     32500.0
129     31000.0
113     29000.0
51     230000.0
167     83500.0
88      34500.0
108     79000.0
136     31000.0
29      74500.0
183     89900.0
152     54000.0
93     230000.0
189    101100.0
139     20000.0
179     62500.0
55      36000.0
1       47500.0
5       92500.0
77      15000.0
Name: New_Selling_price, dtype: float64

In [53]:
from sklearn.metrics import r2_score

In [54]:
r2_score(y_test,y_pred)

0.8982390557110472

In [56]:
import pickle
with open("model.pkl",'wb') as model_file:
    pickle.dump(model,model_file)